.classpath
.project
eclipse
.settings
server.pid
tmp
*.class
bin/
data/
db/
dist/
logs/
test-result/
lib/
tmp/
modules/

# Package Files #
*.jar
*.war
*.ear
/t-commerce.iws
/t-commerce.ipr
/t-commerce.iml

