#{extends 'main.html' /}
#{set title:group.name /}
#{set pageId:'category-'+group.id /}

#{set 'back'}
	<a href="/" data-transition="slide" data-icon="back" data-direction="reverse">${group.parent.name}</a>
#{/set}

<div data-role="content">	
	<ul data-role="listview" data-theme="b" data-inset="true">
		#{list group.quizzes, as:'quiz'}			
			<li><a href="@{quiz(group.id, quiz.id)}"  data-transition="slide">${quiz.title}</a></li>	
		#{/list}
	</ul>
	<div align="center" style="background-color: white; border:2px solid;border-radius:25px;">
		<img src="@{'/public/images/nue-logo-opaque.png'}" width="300px"/>
	</div>
		
</div>

<script>
$('div').live('pageshow',function(event, ui){


	    MathJax.Hub.Queue(["Typeset", MathJax.Hub]);
	

	});	


</script>