#{extends 'main.html' /}
#{set title:quiz.title /}
#{set pageId:'quiz-'+quiz.id /}

#{set 'back'}
    
	<a href="#category-${quiz.parent.id}" data-transition="slide" data-icon="back" data-direction="reverse">${quiz.parent.name}</a>
#{/set}

#{set 'options'}
    <a href="/options" class="ui-btn-right" data-role="button" data-icon="gear" data-iconpos="notext">Options</a>
		
#{/set}

<div id="quiz-${quiz.id}" style="overflow: hidden;">

%{i = 0}%
#{list quiz.questions, as:'question'}
	%{i ++}%
	
<ul data-role="listview" data-divider-theme="d" data-inset="true" id="question-${question.id}" class="question">
<!-- 	<li data-theme="b"  data-inset="true" class="qa-text-center">${i}</li> -->

	<li data-role="list-divider" data-inset="true">${i})</li>
	
	
	<li data-theme="b" data-inset="true"> <span class="qa-small-text">    ${question.text.raw()}</span>
		<div data-role="fieldcontain" >
			<fieldset data-role="controlgroup">
			    	
				#{list question.answers, as:'answer'}
				
					#{if answer.fraction>0} 
						%{classs = 'correct'}%			
					#{/if} 
					#{else}
						%{classs = 'wrong'}%
					#{/else}
					
					#{if question.type == 'multichoice-single'} 
						%{type = 'radio'}%			
					#{/if} 
					#{else}
						%{type = 'checkbox'}%
					#{/else}		
				
					<input type="${type}" data-theme="c"  id="answer-${answer.id}" name="question-${question.id}" value="answer-${answer.id}" />
					<input type="hidden" id="fraction-${answer.id}" value="${answer.fraction}"/>
			   		<label class=${classs} for="answer-${answer.id}" ><span class="qa-small-text">${answer.text.raw()}</span></label>
				#{/list}

			</fieldset>
				<div align="right">
					<a href="javascript:void(0)"
						onclick="showAnswer('#question-${question.id}')" data-role="button"
						data-theme="b">Submit</a>

					<div align="center" class="result">
				&nbsp;&nbsp;
						
					</div>
				</div>

			</div>
		
	</li>	
</ul>
		<br>
 
#{/list}

<ul data-role="listview" data-inset="true" >
		<li data-theme="a"  data-inset="true">
			<div data-role="fieldcontain" >
				<a href="javascript:void(0)" onclick="showAnswers(${quiz.id})" data-role="button"
					data-theme="c">Submit All</a>
	
				<div align="center" class="total-result">
					&nbsp;&nbsp;
				</div>
			</div>
		</li>

</ul>
</div>
<div class="clear"></div>
