<!DOCTYPE html>

<html>
<head>
<title>#{get 'title' /}</title>	
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta charset="${_response_encoding}">

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
<link rel="stylesheet" href="@{'/public/stylesheets/quizapp.css'}" />

 #{get 'moreStyles' /}

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
<script type="text/javascript" src="@{'/public/javascripts/quizapp.js'}"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

#{get 'moreScripts' /}




</head>
<body>
	
<div id="#{get 'pageId' /}" data-role="page" data-theme="a">

	<div data-role="header" data-position="fixed">
		
  <div data-type="horizontal" data-role="controlgroup" class="ui-btn-left ui-bar">  
     #{if request.url != '/'}
		<a href="/" data-transition="slide" data-icon="home" data-iconpos="notext" data-direction="reverse">Home</a>
		
		#{get 'back' /}
		#{/if}	
	
			
  </div>
		
		<h1>#{get 'title' /}</h1>
		#{get 'options' /}
			
	  
	</div>

	#{doLayout user:user/}
	
	<div data-role="footer" >
	<!-- 	<a href="index.html" data-role="button" data-icon="delete">Remove</a> -->
	<!-- 	<a href="index.html" data-role="button" data-icon="plus">Add</a> -->
	<!-- 	<a href="index.html" data-role="button" data-icon="arrow-u">Up</a> -->
	<!-- 	<a href="index.html" data-role="button" data-icon="arrow-d">Down</a> -->
	</div>
</div>

</body>
</html>
